TPDev.SimpleReport.Service/bin/Debug/TPDev.SimpleReport.Service.dll
TPDev.SimpleReport.Service/bin/Debug/TPDev.SimpleReport.Service.pdb
TPDev.SimpleReport.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TPDev.SimpleReport.Service/obj/Debug/TPDev.SimpleReport.Service.csproj.FileListAbsolute.txt
TPDev.SimpleReport.Service/obj/Debug/TPDev.SimpleReport.Service.csprojResolveAssemblyReference.cache
TPDev.SimpleReport.Service/obj/Debug/TPDev.SimpleReport.Service.dll
TPDev.SimpleReport.Service/obj/Debug/TPDev.SimpleReport.Service.pdb
TPDev.SimpleReport.Service/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TPDev.SimpleReport.Service/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TPDev.SimpleReport.Service/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TPDev.SimpleReport.Service/obj/Release/TPDev.SimpleReport.Service.csproj.FileListAbsolute.txt
TPDev.SimpleReport.Service/obj/Release/TPDev.SimpleReport.Service.csprojResolveAssemblyReference.cache
TPDev.SimpleReport.Service/obj/Release/TPDev.SimpleReport.Service.dll
TPDev.SimpleReport.Service/obj/Release/TPDev.SimpleReport.Service.pdb
TPDev.SimpleReport.SharedLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TPDev.SimpleReport.SharedLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TPDev.SimpleReport.SharedLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TPDev.SimpleReport.SharedLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TPDev.SimpleReport.SharedLibrary/obj/Release/TPDev.SimpleReport.SharedLibrary.csproj.FileListAbsolute.txt
TPDev.SimpleReport.SharedLibrary/obj/Release/TPDev.SimpleReport.SharedLibrary.csprojResolveAssemblyReference.cache
TPDev.SimpleReport.SharedLibrary/obj/Release/TPDev.SimpleReport.SharedLibrary.dll
TPDev.SimpleReport.SharedLibrary/obj/Release/TPDev.SimpleReport.SharedLibrary.pdb
TPDev.SimpleReport.TemplateManager/bin/Debug/TPDev.SimpleReport.TemplateManager.dll
TPDev.SimpleReport.TemplateManager/bin/Debug/TPDev.SimpleReport.TemplateManager.pdb
TPDev.SimpleReport.TemplateManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TPDev.SimpleReport.TemplateManager/obj/Debug/TPDev.SimpleReport.TemplateManager.csproj.FileListAbsolute.txt
TPDev.SimpleReport.TemplateManager/obj/Debug/TPDev.SimpleReport.TemplateManager.csprojResolveAssemblyReference.cache
TPDev.SimpleReport.TemplateManager/obj/Debug/TPDev.SimpleReport.TemplateManager.dll
TPDev.SimpleReport.TemplateManager/obj/Debug/TPDev.SimpleReport.TemplateManager.pdb
TPDev.SimpleReport.TemplateManager/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TPDev.SimpleReport.TemplateManager/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TPDev.SimpleReport.TemplateManager/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TPDev.SimpleReport.TemplateManager/obj/Release/TPDev.SimpleReport.TemplateManager.csproj.FileListAbsolute.txt
TPDev.SimpleReport.TemplateManager/obj/Release/TPDev.SimpleReport.TemplateManager.csprojResolveAssemblyReference.cache
TPDev.SimpleReport.TemplateManager/obj/Release/TPDev.SimpleReport.TemplateManager.dll
TPDev.SimpleReport.TemplateManager/obj/Release/TPDev.SimpleReport.TemplateManager.pdb
TPDev.SimpleReport.Viewer/bin/Debug/TPDev.SimpleReport.Viewer.dll
TPDev.SimpleReport.Viewer/bin/Debug/TPDev.SimpleReport.Viewer.pdb
TPDev.SimpleReport.Viewer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TPDev.SimpleReport.Viewer/obj/Debug/TPDev.SimpleReport.Viewer.csproj.FileListAbsolute.txt
TPDev.SimpleReport.Viewer/obj/Debug/TPDev.SimpleReport.Viewer.csprojResolveAssemblyReference.cache
TPDev.SimpleReport.Viewer/obj/Debug/TPDev.SimpleReport.Viewer.dll
TPDev.SimpleReport.Viewer/obj/Debug/TPDev.SimpleReport.Viewer.pdb
TPDev.SimpleReport.Viewer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TPDev.SimpleReport.Viewer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TPDev.SimpleReport.Viewer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TPDev.SimpleReport.Viewer/obj/Release/TPDev.SimpleReport.Viewer.csproj.FileListAbsolute.txt
TPDev.SimpleReport.Viewer/obj/Release/TPDev.SimpleReport.Viewer.csprojResolveAssemblyReference.cache
TPDev.SimpleReport.Viewer/obj/Release/TPDev.SimpleReport.Viewer.dll
TPDev.SimpleReport.Viewer/obj/Release/TPDev.SimpleReport.Viewer.pdb
*.cache
TemporaryGeneratedFile_
*TemporaryGeneratedFile_*
.vs/SimpleReport/v14/.suo
TPDev.SimpleReport.Viewer/bin/Debug/CefSharp.Core.dll
TPDev.SimpleReport.Viewer/bin/Debug/CefSharp.Core.pdb
TPDev.SimpleReport.Viewer/bin/Debug/CefSharp.Wpf.dll
TPDev.SimpleReport.Viewer/bin/Debug/CefSharp.Wpf.pdb
TPDev.SimpleReport.Viewer/bin/Debug/CefSharp.dll
TPDev.SimpleReport.Viewer/bin/Debug/CefSharp.pdb
TPDev.SimpleReport.Viewer/bin/Debug/TPDev.SimpleReportService.dll
TPDev.SimpleReport.Viewer/bin/x86/Debug/CefSharp.Core.dll
TPDev.SimpleReport.Viewer/bin/x86/Debug/CefSharp.Core.pdb
TPDev.SimpleReport.Viewer/bin/x86/Debug/CefSharp.Wpf.dll
TPDev.SimpleReport.Viewer/bin/x86/Debug/CefSharp.Wpf.pdb
TPDev.SimpleReport.Viewer/bin/x86/Debug/CefSharp.dll
TPDev.SimpleReport.Viewer/bin/x86/Debug/CefSharp.pdb
TPDev.SimpleReport.Viewer/bin/x86/Debug/TPDev.SimpleReport.Viewer.dll
TPDev.SimpleReport.Viewer/bin/x86/Debug/TPDev.SimpleReport.Viewer.pdb
TPDev.SimpleReport.Viewer/bin/x86/Debug/TPDev.SimpleReportService.dll
TPDev.SimpleReport.Viewer/obj/Debug/TPDev.SimpleReport.Viewer.g.resources
TPDev.SimpleReport.Viewer/obj/Debug/TPDev.SimpleReport.Viewer_MarkupCompile.i.lref
TPDev.SimpleReport.Viewer/obj/Debug/TPDev.SimpleReport.Viewer_MarkupCompile.lref
TPDev.SimpleReport.Viewer/obj/Debug/Views/WebBrowserOverlay.baml
TPDev.SimpleReport.Viewer/obj/Debug/Views/WebBrowserOverlay.g.cs
TPDev.SimpleReport.Viewer/obj/Debug/Views/WebBrowserOverlay.g.i.cs
TPDev.SimpleReport.Viewer/obj/x86/Debug/TPDev.SimpleReport.Viewer.csproj.FileListAbsolute.txt
TPDev.SimpleReport.Viewer/obj/x86/Debug/TPDev.SimpleReport.Viewer.dll
TPDev.SimpleReport.Viewer/obj/x86/Debug/TPDev.SimpleReport.Viewer.g.resources
TPDev.SimpleReport.Viewer/obj/x86/Debug/TPDev.SimpleReport.Viewer.pdb
TPDev.SimpleReport.Viewer/obj/x86/Debug/TPDev.SimpleReport.Viewer_MarkupCompile.i.lref
TPDev.SimpleReport.Viewer/obj/x86/Debug/TPDev.SimpleReport.Viewer_MarkupCompile.lref
TPDev.SimpleReport.Viewer/obj/x86/Debug/Views/WebBrowserOverlay.baml
TPDev.SimpleReport.Viewer/obj/x86/Debug/Views/WebBrowserOverlay.g.cs
TPDev.SimpleReport.Viewer/obj/x86/Debug/Views/WebBrowserOverlay.g.i.cs
