TPDev.SimpleReport.Service/bin/Debug/TPDev.SimpleReport.Service.dll
TPDev.SimpleReport.Service/bin/Debug/TPDev.SimpleReport.Service.pdb
TPDev.SimpleReport.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TPDev.SimpleReport.Service/obj/Debug/TPDev.SimpleReport.Service.csproj.FileListAbsolute.txt
TPDev.SimpleReport.Service/obj/Debug/TPDev.SimpleReport.Service.csprojResolveAssemblyReference.cache
TPDev.SimpleReport.Service/obj/Debug/TPDev.SimpleReport.Service.dll
TPDev.SimpleReport.Service/obj/Debug/TPDev.SimpleReport.Service.pdb
TPDev.SimpleReport.Service/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TPDev.SimpleReport.Service/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TPDev.SimpleReport.Service/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TPDev.SimpleReport.Service/obj/Release/TPDev.SimpleReport.Service.csproj.FileListAbsolute.txt
TPDev.SimpleReport.Service/obj/Release/TPDev.SimpleReport.Service.csprojResolveAssemblyReference.cache
TPDev.SimpleReport.Service/obj/Release/TPDev.SimpleReport.Service.dll
TPDev.SimpleReport.Service/obj/Release/TPDev.SimpleReport.Service.pdb
TPDev.SimpleReport.SharedLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TPDev.SimpleReport.SharedLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TPDev.SimpleReport.SharedLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TPDev.SimpleReport.SharedLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TPDev.SimpleReport.SharedLibrary/obj/Release/TPDev.SimpleReport.SharedLibrary.csproj.FileListAbsolute.txt
TPDev.SimpleReport.SharedLibrary/obj/Release/TPDev.SimpleReport.SharedLibrary.csprojResolveAssemblyReference.cache
TPDev.SimpleReport.SharedLibrary/obj/Release/TPDev.SimpleReport.SharedLibrary.dll
TPDev.SimpleReport.SharedLibrary/obj/Release/TPDev.SimpleReport.SharedLibrary.pdb
TPDev.SimpleReport.TemplateManager/bin/Debug/TPDev.SimpleReport.TemplateManager.dll
TPDev.SimpleReport.TemplateManager/bin/Debug/TPDev.SimpleReport.TemplateManager.pdb
TPDev.SimpleReport.TemplateManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TPDev.SimpleReport.TemplateManager/obj/Debug/TPDev.SimpleReport.TemplateManager.csproj.FileListAbsolute.txt
TPDev.SimpleReport.TemplateManager/obj/Debug/TPDev.SimpleReport.TemplateManager.csprojResolveAssemblyReference.cache
TPDev.SimpleReport.TemplateManager/obj/Debug/TPDev.SimpleReport.TemplateManager.dll
TPDev.SimpleReport.TemplateManager/obj/Debug/TPDev.SimpleReport.TemplateManager.pdb
TPDev.SimpleReport.TemplateManager/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TPDev.SimpleReport.TemplateManager/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TPDev.SimpleReport.TemplateManager/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TPDev.SimpleReport.TemplateManager/obj/Release/TPDev.SimpleReport.TemplateManager.csproj.FileListAbsolute.txt
TPDev.SimpleReport.TemplateManager/obj/Release/TPDev.SimpleReport.TemplateManager.csprojResolveAssemblyReference.cache
TPDev.SimpleReport.TemplateManager/obj/Release/TPDev.SimpleReport.TemplateManager.dll
TPDev.SimpleReport.TemplateManager/obj/Release/TPDev.SimpleReport.TemplateManager.pdb
TPDev.SimpleReport.Viewer/bin/Debug/TPDev.SimpleReport.Viewer.dll
TPDev.SimpleReport.Viewer/bin/Debug/TPDev.SimpleReport.Viewer.pdb
TPDev.SimpleReport.Viewer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TPDev.SimpleReport.Viewer/obj/Debug/TPDev.SimpleReport.Viewer.csproj.FileListAbsolute.txt
TPDev.SimpleReport.Viewer/obj/Debug/TPDev.SimpleReport.Viewer.csprojResolveAssemblyReference.cache
TPDev.SimpleReport.Viewer/obj/Debug/TPDev.SimpleReport.Viewer.dll
TPDev.SimpleReport.Viewer/obj/Debug/TPDev.SimpleReport.Viewer.pdb
TPDev.SimpleReport.Viewer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TPDev.SimpleReport.Viewer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TPDev.SimpleReport.Viewer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TPDev.SimpleReport.Viewer/obj/Release/TPDev.SimpleReport.Viewer.csproj.FileListAbsolute.txt
TPDev.SimpleReport.Viewer/obj/Release/TPDev.SimpleReport.Viewer.csprojResolveAssemblyReference.cache
TPDev.SimpleReport.Viewer/obj/Release/TPDev.SimpleReport.Viewer.dll
TPDev.SimpleReport.Viewer/obj/Release/TPDev.SimpleReport.Viewer.pdb
*.cache
TemporaryGeneratedFile_
*TemporaryGeneratedFile_*
.vs/SimpleReport/v14/.suo
TPDev.SimpleReport.Viewer/bin/Debug/CefSharp.Core.dll
TPDev.SimpleReport.Viewer/bin/Debug/CefSharp.Core.pdb
TPDev.SimpleReport.Viewer/bin/Debug/CefSharp.Wpf.dll
TPDev.SimpleReport.Viewer/bin/Debug/CefSharp.Wpf.pdb
TPDev.SimpleReport.Viewer/bin/Debug/CefSharp.dll
TPDev.SimpleReport.Viewer/bin/Debug/CefSharp.pdb
TPDev.SimpleReport.Viewer/bin/Debug/TPDev.SimpleReportService.dll
TPDev.SimpleReport.Viewer/bin/x86/Debug/CefSharp.Core.dll
TPDev.SimpleReport.Viewer/bin/x86/Debug/CefSharp.Core.pdb
TPDev.SimpleReport.Viewer/bin/x86/Debug/CefSharp.Wpf.dll
TPDev.SimpleReport.Viewer/bin/x86/Debug/CefSharp.Wpf.pdb
TPDev.SimpleReport.Viewer/bin/x86/Debug/CefSharp.dll
TPDev.SimpleReport.Viewer/bin/x86/Debug/CefSharp.pdb
TPDev.SimpleReport.Viewer/bin/x86/Debug/TPDev.SimpleReport.Viewer.dll
TPDev.SimpleReport.Viewer/bin/x86/Debug/TPDev.SimpleReport.Viewer.pdb
TPDev.SimpleReport.Viewer/bin/x86/Debug/TPDev.SimpleReportService.dll
TPDev.SimpleReport.Viewer/obj/Debug/TPDev.SimpleReport.Viewer.g.resources
TPDev.SimpleReport.Viewer/obj/Debug/TPDev.SimpleReport.Viewer_MarkupCompile.i.lref
TPDev.SimpleReport.Viewer/obj/Debug/TPDev.SimpleReport.Viewer_MarkupCompile.lref
TPDev.SimpleReport.Viewer/obj/Debug/Views/WebBrowserOverlay.baml
TPDev.SimpleReport.Viewer/obj/Debug/Views/WebBrowserOverlay.g.cs
TPDev.SimpleReport.Viewer/obj/Debug/Views/WebBrowserOverlay.g.i.cs
TPDev.SimpleReport.Viewer/obj/x86/Debug/TPDev.SimpleReport.Viewer.csproj.FileListAbsolute.txt
TPDev.SimpleReport.Viewer/obj/x86/Debug/TPDev.SimpleReport.Viewer.dll
TPDev.SimpleReport.Viewer/obj/x86/Debug/TPDev.SimpleReport.Viewer.g.resources
TPDev.SimpleReport.Viewer/obj/x86/Debug/TPDev.SimpleReport.Viewer.pdb
TPDev.SimpleReport.Viewer/obj/x86/Debug/TPDev.SimpleReport.Viewer_MarkupCompile.i.lref
TPDev.SimpleReport.Viewer/obj/x86/Debug/TPDev.SimpleReport.Viewer_MarkupCompile.lref
TPDev.SimpleReport.Viewer/obj/x86/Debug/Views/WebBrowserOverlay.baml
TPDev.SimpleReport.Viewer/obj/x86/Debug/Views/WebBrowserOverlay.g.cs
TPDev.SimpleReport.Viewer/obj/x86/Debug/Views/WebBrowserOverlay.g.i.cs
TPDev.SimpleReport.Logger/bin/Debug/TPDev.SimpleReport.Logger.dll
TPDev.SimpleReport.Logger/bin/Debug/TPDev.SimpleReport.Logger.pdb
TPDev.SimpleReport.Logger/obj/Debug/TPDev.SimpleReport.Logger.csproj.FileListAbsolute.txt
TPDev.SimpleReport.Logger/obj/Debug/TPDev.SimpleReport.Logger.dll
TPDev.SimpleReport.Logger/obj/Debug/TPDev.SimpleReport.Logger.pdb
TPDev.SimpleReport.Logger/obj/Release/TPDev.SimpleReport.Logger.csproj.FileListAbsolute.txt
TPDev.SimpleReport.Logger/obj/Release/TPDev.SimpleReport.Logger.dll
TPDev.SimpleReport.Logger/obj/Release/TPDev.SimpleReport.Logger.pdb
TPDev.SimpleReport.Service/bin/Debug/TPDev.SimpleReport.Logger.dll
TPDev.SimpleReport.Service/bin/Debug/TPDev.SimpleReport.Logger.pdb
TPDev.SimpleReport.Service/bin/Debug/TPDev.SimpleReport.SharedLibrary.dll
TPDev.SimpleReport.Service/bin/Debug/TPDev.SimpleReport.SharedLibrary.pdb
TPDev.SimpleReport.Service/obj/Release/build.force
TPDev.SimpleReport.SharedLibrary/bin/Debug/TPDev.SimpleReport.Logger.dll
TPDev.SimpleReport.SharedLibrary/bin/Debug/TPDev.SimpleReport.Logger.pdb
TPDev.SimpleReport.SharedLibrary/bin/Debug/TPDev.SimpleReport.SharedLibrary.dll
TPDev.SimpleReport.SharedLibrary/bin/Debug/TPDev.SimpleReport.SharedLibrary.pdb
TPDev.SimpleReport.SharedLibrary/obj/Debug/TPDev.SimpleReport.SharedLibrary.csproj.FileListAbsolute.txt
TPDev.SimpleReport.SharedLibrary/obj/Debug/TPDev.SimpleReport.SharedLibrary.dll
TPDev.SimpleReport.SharedLibrary/obj/Debug/TPDev.SimpleReport.SharedLibrary.pdb
TPDev.SimpleReport.SharedLibrary/obj/Release/build.force
TPDev.SimpleReport.Viewer/bin/Debug/CefSharp.BrowserSubprocess.Core.dll
TPDev.SimpleReport.Viewer/bin/Debug/CefSharp.BrowserSubprocess.Core.pdb
TPDev.SimpleReport.Viewer/bin/Debug/CefSharp.BrowserSubprocess.exe
TPDev.SimpleReport.Viewer/bin/Debug/CefSharp.BrowserSubprocess.exe.config
TPDev.SimpleReport.Viewer/bin/Debug/CefSharp.BrowserSubprocess.pdb
TPDev.SimpleReport.Viewer/bin/Debug/CefSharp.Core.xml
TPDev.SimpleReport.Viewer/bin/Debug/cef.pak
TPDev.SimpleReport.Viewer/bin/Debug/cef_100_percent.pak
TPDev.SimpleReport.Viewer/bin/Debug/cef_200_percent.pak
TPDev.SimpleReport.Viewer/bin/Debug/cef_extensions.pak
TPDev.SimpleReport.Viewer/bin/Debug/d3dcompiler_43.dll
TPDev.SimpleReport.Viewer/bin/Debug/d3dcompiler_47.dll
TPDev.SimpleReport.Viewer/bin/Debug/icudtl.dat
TPDev.SimpleReport.Viewer/bin/Debug/libEGL.dll
TPDev.SimpleReport.Viewer/bin/Debug/libGLESv2.dll
TPDev.SimpleReport.Viewer/bin/Debug/libcef.dll
TPDev.SimpleReport.Viewer/bin/Release/CefSharp.BrowserSubprocess.Core.dll
TPDev.SimpleReport.Viewer/bin/Release/CefSharp.BrowserSubprocess.Core.pdb
TPDev.SimpleReport.Viewer/bin/Release/CefSharp.BrowserSubprocess.exe
TPDev.SimpleReport.Viewer/bin/Release/CefSharp.BrowserSubprocess.exe.config
TPDev.SimpleReport.Viewer/bin/Release/CefSharp.BrowserSubprocess.pdb
TPDev.SimpleReport.Viewer/bin/Release/CefSharp.Core.dll
TPDev.SimpleReport.Viewer/bin/Release/CefSharp.Core.pdb
TPDev.SimpleReport.Viewer/bin/Release/CefSharp.Core.xml
TPDev.SimpleReport.Viewer/bin/Release/CefSharp.Wpf.dll
TPDev.SimpleReport.Viewer/bin/Release/CefSharp.Wpf.pdb
TPDev.SimpleReport.Viewer/bin/Release/CefSharp.dll
TPDev.SimpleReport.Viewer/bin/Release/CefSharp.pdb
TPDev.SimpleReport.Viewer/bin/Release/cef.pak
TPDev.SimpleReport.Viewer/bin/Release/cef_100_percent.pak
TPDev.SimpleReport.Viewer/bin/Release/cef_200_percent.pak
TPDev.SimpleReport.Viewer/bin/Release/cef_extensions.pak
TPDev.SimpleReport.Viewer/bin/Release/d3dcompiler_43.dll
TPDev.SimpleReport.Viewer/bin/Release/d3dcompiler_47.dll
TPDev.SimpleReport.Viewer/bin/Release/icudtl.dat
TPDev.SimpleReport.Viewer/bin/Release/libEGL.dll
TPDev.SimpleReport.Viewer/bin/Release/libGLESv2.dll
TPDev.SimpleReport.Viewer/bin/Release/libcef.dll
TPDev.SimpleReport.Viewer/bin/x86/Debug/CefSharp.BrowserSubprocess.Core.dll
TPDev.SimpleReport.Viewer/bin/x86/Debug/CefSharp.BrowserSubprocess.Core.pdb
TPDev.SimpleReport.Viewer/bin/x86/Debug/CefSharp.BrowserSubprocess.exe
TPDev.SimpleReport.Viewer/bin/x86/Debug/CefSharp.BrowserSubprocess.exe.config
TPDev.SimpleReport.Viewer/bin/x86/Debug/CefSharp.BrowserSubprocess.pdb
TPDev.SimpleReport.Viewer/bin/x86/Debug/CefSharp.Core.xml
TPDev.SimpleReport.Viewer/bin/x86/Debug/cef.pak
TPDev.SimpleReport.Viewer/bin/x86/Debug/cef_100_percent.pak
TPDev.SimpleReport.Viewer/bin/x86/Debug/cef_200_percent.pak
TPDev.SimpleReport.Viewer/bin/x86/Debug/cef_extensions.pak
TPDev.SimpleReport.Viewer/bin/x86/Debug/d3dcompiler_43.dll
TPDev.SimpleReport.Viewer/bin/x86/Debug/d3dcompiler_47.dll
TPDev.SimpleReport.Viewer/bin/x86/Debug/icudtl.dat
TPDev.SimpleReport.Viewer/bin/x86/Debug/libEGL.dll
TPDev.SimpleReport.Viewer/bin/x86/Debug/libGLESv2.dll
TPDev.SimpleReport.Viewer/bin/x86/Debug/libcef.dll
TPDev.SimpleReport.Viewer/bin/x86/Release/CefSharp.BrowserSubprocess.Core.dll
TPDev.SimpleReport.Viewer/bin/x86/Release/CefSharp.BrowserSubprocess.Core.pdb
TPDev.SimpleReport.Viewer/bin/x86/Release/CefSharp.BrowserSubprocess.exe
TPDev.SimpleReport.Viewer/bin/x86/Release/CefSharp.BrowserSubprocess.exe.config
TPDev.SimpleReport.Viewer/bin/x86/Release/CefSharp.BrowserSubprocess.pdb
TPDev.SimpleReport.Viewer/bin/x86/Release/CefSharp.Core.dll
TPDev.SimpleReport.Viewer/bin/x86/Release/CefSharp.Core.pdb
TPDev.SimpleReport.Viewer/bin/x86/Release/CefSharp.Core.xml
TPDev.SimpleReport.Viewer/bin/x86/Release/CefSharp.Wpf.dll
TPDev.SimpleReport.Viewer/bin/x86/Release/CefSharp.Wpf.pdb
TPDev.SimpleReport.Viewer/bin/x86/Release/CefSharp.dll
TPDev.SimpleReport.Viewer/bin/x86/Release/CefSharp.pdb
TPDev.SimpleReport.Viewer/bin/x86/Release/cef.pak
TPDev.SimpleReport.Viewer/bin/x86/Release/cef_100_percent.pak
TPDev.SimpleReport.Viewer/bin/x86/Release/cef_200_percent.pak
TPDev.SimpleReport.Viewer/bin/x86/Release/cef_extensions.pak
TPDev.SimpleReport.Viewer/bin/x86/Release/d3dcompiler_43.dll
TPDev.SimpleReport.Viewer/bin/x86/Release/d3dcompiler_47.dll
TPDev.SimpleReport.Viewer/bin/x86/Release/icudtl.dat
TPDev.SimpleReport.Viewer/bin/x86/Release/libEGL.dll
TPDev.SimpleReport.Viewer/bin/x86/Release/libGLESv2.dll
TPDev.SimpleReport.Viewer/bin/x86/Release/libcef.dll
TestApp/bin/Debug/CefSharp.BrowserSubprocess.Core.dll
TestApp/bin/Debug/CefSharp.BrowserSubprocess.Core.pdb
TestApp/bin/Debug/CefSharp.BrowserSubprocess.exe
TestApp/bin/Debug/CefSharp.BrowserSubprocess.exe.config
TestApp/bin/Debug/CefSharp.BrowserSubprocess.pdb
TestApp/bin/Debug/CefSharp.Core.dll
TestApp/bin/Debug/CefSharp.Core.pdb
TestApp/bin/Debug/CefSharp.Core.xml
TestApp/bin/Debug/CefSharp.Wpf.dll
TestApp/bin/Debug/CefSharp.Wpf.pdb
TestApp/bin/Debug/CefSharp.dll
TestApp/bin/Debug/CefSharp.pdb
TestApp/bin/Debug/TPDev.SimpleReport.Logger.dll
TestApp/bin/Debug/TPDev.SimpleReport.Logger.pdb
TestApp/bin/Debug/TPDev.SimpleReport.Service.dll
TestApp/bin/Debug/TPDev.SimpleReport.Service.pdb
TestApp/bin/Debug/TPDev.SimpleReport.SharedLibrary.dll
TestApp/bin/Debug/TPDev.SimpleReport.SharedLibrary.pdb
TestApp/bin/Debug/TPDev.SimpleReport.TemplateManager.dll
TestApp/bin/Debug/TPDev.SimpleReport.TemplateManager.pdb
TestApp/bin/Debug/TPDev.SimpleReport.Viewer.dll
TestApp/bin/Debug/TPDev.SimpleReport.Viewer.pdb
TestApp/bin/Debug/TestApp.exe
TestApp/bin/Debug/TestApp.exe.config
TestApp/bin/Debug/TestApp.pdb
TestApp/bin/Debug/TestApp.vshost.exe
TestApp/bin/Debug/TestApp.vshost.exe.config
TestApp/bin/Debug/TestApp.vshost.exe.manifest
TestApp/bin/Debug/cef.pak
TestApp/bin/Debug/cef_100_percent.pak
TestApp/bin/Debug/cef_200_percent.pak
TestApp/bin/Debug/cef_extensions.pak
TestApp/bin/Debug/d3dcompiler_43.dll
TestApp/bin/Debug/d3dcompiler_47.dll
TestApp/bin/Debug/debug.log
TestApp/bin/Debug/icudtl.dat
TestApp/bin/Debug/libEGL.dll
TestApp/bin/Debug/libGLESv2.dll
TestApp/bin/Debug/libcef.dll
TestApp/bin/Debug/locales/am.pak
TestApp/bin/Debug/locales/ar.pak
TestApp/bin/Debug/locales/bg.pak
TestApp/bin/Debug/locales/bn.pak
TestApp/bin/Debug/locales/ca.pak
TestApp/bin/Debug/locales/cs.pak
TestApp/bin/Debug/locales/da.pak
TestApp/bin/Debug/locales/de.pak
TestApp/bin/Debug/locales/el.pak
TestApp/bin/Debug/locales/en-GB.pak
TestApp/bin/Debug/locales/en-US.pak
TestApp/bin/Debug/locales/es-419.pak
TestApp/bin/Debug/locales/es.pak
TestApp/bin/Debug/locales/et.pak
TestApp/bin/Debug/locales/fa.pak
TestApp/bin/Debug/locales/fi.pak
TestApp/bin/Debug/locales/fil.pak
TestApp/bin/Debug/locales/fr.pak
TestApp/bin/Debug/locales/gu.pak
TestApp/bin/Debug/locales/he.pak
TestApp/bin/Debug/locales/hi.pak
TestApp/bin/Debug/locales/hr.pak
TestApp/bin/Debug/locales/hu.pak
TestApp/bin/Debug/locales/id.pak
TestApp/bin/Debug/locales/it.pak
TestApp/bin/Debug/locales/ja.pak
TestApp/bin/Debug/locales/kn.pak
TestApp/bin/Debug/locales/ko.pak
TestApp/bin/Debug/locales/lt.pak
TestApp/bin/Debug/locales/lv.pak
TestApp/bin/Debug/locales/ml.pak
TestApp/bin/Debug/locales/mr.pak
TestApp/bin/Debug/locales/ms.pak
TestApp/bin/Debug/locales/nb.pak
TestApp/bin/Debug/locales/nl.pak
TestApp/bin/Debug/locales/pl.pak
TestApp/bin/Debug/locales/pt-BR.pak
TestApp/bin/Debug/locales/pt-PT.pak
TestApp/bin/Debug/locales/ro.pak
TestApp/bin/Debug/locales/ru.pak
TestApp/bin/Debug/locales/sk.pak
TestApp/bin/Debug/locales/sl.pak
TestApp/bin/Debug/locales/sr.pak
TestApp/bin/Debug/locales/sv.pak
TestApp/bin/Debug/locales/sw.pak
TestApp/bin/Debug/locales/ta.pak
TestApp/bin/Debug/locales/te.pak
TestApp/bin/Debug/locales/th.pak
TestApp/bin/Debug/locales/tr.pak
TestApp/bin/Debug/locales/uk.pak
TestApp/bin/Debug/locales/vi.pak
TestApp/bin/Debug/locales/zh-CN.pak
TestApp/bin/Debug/locales/zh-TW.pak
TestApp/bin/Debug/natives_blob.bin
TestApp/obj/Debug/App.g.cs
TestApp/obj/Debug/App.g.i.cs
TestApp/obj/Debug/MainWindow.baml
TestApp/obj/Debug/MainWindow.g.cs
TestApp/obj/Debug/MainWindow.g.i.cs
TestApp/obj/Debug/TestApp.Properties.Resources.resources
TestApp/obj/Debug/TestApp.csproj.FileListAbsolute.txt
TestApp/obj/Debug/TestApp.exe
TestApp/obj/Debug/TestApp.g.resources
TestApp/obj/Debug/TestApp.pdb
TestApp/obj/Debug/TestApp_MarkupCompile.i.lref
TestApp/obj/Debug/TestApp_MarkupCompile.lref
TestApp/obj/Release/App.g.i.cs
TestApp/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
TestApp/obj/Release/build.force
TPDev.SimpleReport.Viewer/obj/Release/TPDev.SimpleReport.Viewer.g.resources
TPDev.SimpleReport.Viewer/obj/Release/TPDev.SimpleReport.Viewer_MarkupCompile.i.lref
TPDev.SimpleReport.Viewer/obj/Release/TPDev.SimpleReport.Viewer_MarkupCompile.lref
TPDev.SimpleReport.Viewer/obj/Release/Views/WebBrowserOverlay.baml
TPDev.SimpleReport.Viewer/obj/Release/Views/WebBrowserOverlay.g.cs
TPDev.SimpleReport.Viewer/obj/Release/Views/WebBrowserOverlay.g.i.cs
TPDev.SimpleReport.Viewer/obj/x86/Release/TPDev.SimpleReport.Viewer_MarkupCompile.i.lref
TPDev.SimpleReport.Viewer/obj/x86/Release/Views/WebBrowserOverlay.g.i.cs
TPDev.SimpleReport.TemplateManager/bin/Debug/TPDev.SimpleReport.Logger.dll
TPDev.SimpleReport.TemplateManager/bin/Debug/TPDev.SimpleReport.Logger.pdb
TPDev.SimpleReport.TemplateManager/bin/Debug/TPDev.SimpleReport.SharedLibrary.dll
TPDev.SimpleReport.TemplateManager/bin/Debug/TPDev.SimpleReport.SharedLibrary.pdb
TPDev.SimpleReport.TemplateManager/obj/Release/build.force
TestApp/bin/Debug/TPDev.SimpleReportService.dll
SimpleReport.VC.db
